<script type="text/x-handlebars" data-template-name="application">
   <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{{t "Toggle navigation" key='toggle_navigation'}}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {{#link-to 'index' class='navbar-brand'}}{{t "Open Boards" key='open_boards'}}{{/link-to}}
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {{#link-to 'index' tagName='li' href=false}}{{#link-to 'index'}}{{t "Home" key='home'}}{{/link-to}}{{/link-to}}
                {{#link-to 'examples' tagName='li' href=false}}{{#link-to 'examples'}}{{t "Boards" key='boards'}}{{/link-to}}{{/link-to}}
                {{#link-to 'docs' tagName='li' href=false}}{{#link-to 'docs'}}{{t "Docs" key='docs'}}{{/link-to}}{{/link-to}}
                {{#link-to 'tools' tagName='li' href=false}}{{#link-to 'tools'}}{{t "Tools" key='tools'}}{{/link-to}}{{/link-to}}
                {{#link-to 'partners' tagName='li' href=false}}{{#link-to 'partners'}}{{t "Partners" key='partners'}}{{/link-to}}{{/link-to}}
              </ul>
            </div>
            <a href="https://www.openaac.org"><img src="https://www.openaac.org/openaac.svg" style='position: absolute; top: 0; right: 50px; width: 100px;'/></a>
          </div>
        </nav>

      </div>
    </div>
  <div class="container">
    {{ outlet }}
    <div id="modal">
    {{outlet modal}}
    </div>
    <footer>
      {{t "OpenBoards is" key='open_boards_is'}}
      <a href="https://www.github.com/CoughDrop/openboardformat">{{t "open source" key='open_source'}}</a>{{t ", powered by" key='powered_by'}}
      <a href="https://www.openaac.org">{{t "OpenAAC" key='open_aac'}}</a>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="index">
  <div id="main_rows">
  <div class="row stripe" style="padding-top: 20px; padding-bottom: 20px; margin-top: 0px;">
    <a name="communikate-20"></a>
    <div class="col-sm-8">
      <h2>
        <span class="label label-danger">{{t "NEW" key='new_caps'}}</span>
        {{t "Board Logging Format Added!" key='board_logging_format_added'}}
      </h2>
      <p style='margin-bottom: 0;'>
        {{t "In addition to having an industry-wide format for board contents, we also believe that logging files can benefit from a standard file format. So we have created the Open Board Logging Format (.obl) for organizations to use when exporting user logs. It even has built-in anonymization to support log sharing for research purposes. Check it out in the docs section!" key='open_logging_explainer'}}
      </p>
    </div>
    <div class="col-sm-4 section_pic">
      <img src="https://openboards.s3.amazonaws.com/examples/communikate-20.png" class="img-rounded" style='height: 100px; object-fit: contain; object-position: center;'/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>{{t "A Board Format for Everyone" key='board_format_for_everyone'}}</h2>
      <p>
        {{t "Some individuals struggle communicating, and need help from technology to get their words out. AAC apps and devices are tools that show lists of words or phrases tied to a speech-generator. The word lists, often shown as a grid of buttons, are called communication boards. It's a powerful way to enable self-expression for individuals with complex communication needs." key='board_format_for_everyone_content'}}
      </p>
      <p>
        {{t "Over time these boards get tweaked and heavily individualized with new words, sub-boards, and personal pictures, and the communicator gets used to the placement and styling of the content on their boards. This is great -- so long as the user doesn't need to switch apps or devices." key='board_format_for_everyone_content2'}}
      </p>
    </div>
    <div class="col-sm-4 section_pic">
      <img src="https://farm7.staticflickr.com/6056/6319191649_3c063d4c72_z_d.jpg" class="img-rounded"/>
      <div>
        <a href="https://www.flickr.com/photos/nooccar/6319191649" target="_blank">photo</a> by Devin Adams, <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC By</a>
      </div>
    </div>
  </div>
  <div class="row stripe">
    <div class="col-sm-4 section_pic">
      <img src="https://farm3.staticflickr.com/2659/3800475934_eda5d9b785_z_d.jpg" class="img-rounded"/>
      <div>
        <a href="https://www.flickr.com/photos/oimax/3800475934" target="_blank">photo</a> by OiMax, <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC By</a>
      </div>
    </div>
    <div class="col-sm-8">
      <h2>{{t "Communication Boards Should Be Portable" key='boards_should_be_portable'}}</h2>
      <p>
        {{t "See, there are dozens of different AAC options available, and many cater to a specific age group or functional level. Some don't let you back up your boards at all, and the ones that do usually rely on a proprietary file format, which means you can't take your boards and pictures with you when you decide to try another app." key='boards_should_be_portable_content'}}
      </p>
      <p>
        {{t "Why when a person switches AAC apps do they have to spend hours copying and pasting to get their personalized boards rebuilt in the new app?" key='boards_should_be_portable_content2'}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>{{t "Communication Boards Should Be Shareable" key='boards_should_be_shareable'}}</h2>
      <p>
        {{t "On top of that, sharing boards and templates is either not possible, or limited to only people using the same device, brand or app. Nobody wants to create new boards from scratch (especially when something similar has probably been created by ten other people), and some vendors host public board repositories, but often there are licensing and usage restrictions that make it unclear what uses are allowed." key='boards_should_be_shareable_content'}}
      </p>
      <p>
        {{t "Why isn't it easier to share an activity-based board or an entire vocabulary without first saying, \"wait, what system are you using?\"" key='boards_should_be_shareable_content2'}}
      </p>
    </div>
    <div class="col-sm-4 section_pic">
      <img src="https://farm5.staticflickr.com/4007/4692747592_98fd6716bc_z_d.jpg" class="img-rounded"/>
      <div>
        <a href="https://www.flickr.com/photos/jcfrog/4692747592" target="_blank">photo</a> by Jérôme Choain, <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC By</a>
      </div>
    </div>
  </div>
  <div class="row stripe">
    <div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 25px;">
      <h2>{{t "Introducing the Open Board Format" key='introducing_obf'}}</h2>
      <p>
        {{t ".obf and .obz files are simple files that contain all the configuration necessary to import communication boards onto a device or tablet running AAC software. The format is fully documented, encourages usage and attribution definitions within the file, and is open-licensed." key='introducing_obf_content_1'}}
      </p>
      <p>
        {{t "That means that any provider can easily leverage .obf files in their AAC apps -- and we hope they will! The more providers who get on board, the better it will be for everyone because it will keep communication boards from getting so stuck. If your AAC provider doesn't import or export .obf files, we'd encourage you to encourage them to do so." key='introducing_obf_content_2'}}
      </p>
      <p>
        {{t "If you'd like to learn more, check out the links below. Also, please help us spread the good word. The only way this is going to happen is if enough of us get behind it enough to make it happen, so thank you for getting involved!" key='introducing_obf_content_3'}}
      </p>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      {{#link-to 'share'}}
        <img src="/share.svg" class="img-rounded" style="height: 150px;"/>
        <h3>{{t "Spread the Word" key='spread_the_word'}}</h3>
      {{/link-to}}
      <p>{{t "See examples of some ways you can help make .obf a reality." key='spread_the_word_content'}}</p>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      {{#link-to 'docs'}}
        <img src="/docs.svg" class="img-rounded" style="height: 150px;"/>
        <h3>{{t "Read the Docs" key='read_the_docs'}}</h3>
      {{/link-to}}
      <p>{{t "If you're feeling technical, you can review and provide feedback on the file format itself." key='read_the_docs_content'}}</p>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      {{#link-to 'examples'}}
        <img src="/examples.svg" class="img-rounded" style="height: 150px;"/>
        <h3>{{t "See Some Examples" key='see_examples'}}</h3>
      {{/link-to}}
      <p>{{t "You can see side-by-side examples of .obf files and how they would look when printed off as pdfs." key='see_examples_content'}}</p>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      {{#link-to 'tools'}}
        <img src="/convert.svg" class="img-rounded" style="height: 150px;"/>
        <h3>{{t "Convert a File" key='convert_a_file'}}</h3>
      {{/link-to}}
      <p>{{t "Convert a support file to .obf or .pdf, validate an .obf file, or use our translation tool." key='convert_a_file_content'}}</p>
    </div>
  </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="docs">
  <div class="row">
    <div class="col-sm-12">
      <ul class='nav nav-pills'>
        <li class='active'><a href="#">Open Board Documentation</a></li>
        <li>{{#link-to 'logs'}}Open Logging Documentation{{/link-to}}</li>
      </ul>
        <p>
          {{t "Below is the current version of the open board file format specification. If you want to provide comments you can" key='documentation_intro'}}
          <a href="https://docs.google.com/document/d/1Bnl5neOf9-y53yOAGjd8BzQ7jvAdLhcB6y9Zw7ITYbA/edit" target="_blank">
            {{t "open the document in a new window" key='open_in_a_new_window'}}
          </a>
        </p>
        <iframe src="https://docs.google.com/document/d/1Bnl5neOf9-y53yOAGjd8BzQ7jvAdLhcB6y9Zw7ITYbA/pub?embedded=true" frameborder="0" style="width: 100%; height: calc(100vh - 150px); border: 2px solid #888;"></iframe>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="logs">
  <div class="row">
    <div class="col-sm-12">
      <ul class='nav nav-pills'>
        <li>{{#link-to 'docs'}}Open Board Documentation{{/link-to}}</li>
        <li class='active'><a href="#">Open Logging Documentation</a></li>
      </ul>
      <p>
      {{t "Below is the current version of the open board logging format specification. If you want to provide comments you can" key='documentation_intro'}}
      <a href="https://docs.google.com/document/d/1KpC82nQc8RscgYZWKQo-y_LlKSwd8VsuvhnjrIve2f4/edit" target="_blank">
        {{t "open the document in a new window" key='open_in_a_new_window'}}
      </a>
    </p>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vTxm6mddD49CSHmr8QtOOTMCpCIlBQgUE-pAGYJQo9sIyxn65kMoMOEcRtL8J3J4KtsiOoWmyEB8Epi/pub?embedded=true" frameborder="0" style="width: 100%; height: calc(100vh - 150px); border: 2px solid #888;"></iframe>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="partners">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{t "See Who's Supporting the Open Board Format" key='see_partners'}}</h2>
      <p>
        {{t "Open standards like the Open Board Format can't get anywhere without support from other organizations, and we encourage everyone to thank these vendors and groups for investing in a solution that puts control and flexibility back in the hands of the users and communicators. We're proud to have the following groups implementing and offering other support for this new cross-platform file format." key='partners_1'}}
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{t "Organization" key='organization'}}</th>
            <th>{{t "Compliance" key='compliance'}}</th>
            <th style="width: 30%">{{t "Description" key='description'}}</th>
            <th>{{t "Date Updated" key='date_updated'}}</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="https://www.mycoughdrop.com" target="_blank">
                <img src="https://www.mycoughdrop.com/images/logo-big.png" style="width: 40px;"/>
                {{t "CoughDrop" key='cough_drop'}}
              </a>
            </td>
            <td>{{t "native .obf/.obz import and export" key='obf_import_export'}}</td>
            <td>{{t "CoughDrop is the Open Board Format author and maintainer." key='coughdrop_maintains_obf'}}</td>
            <td>{{t "February 2019" key='feb_2019'}}</td>
          </tr>
          <tr>
            <td>
              <a href="https://www.cboard.io/" target="_blank">
                <img src="Key-logo-600x200.png" style="display: inline-block; width: 40px; visibility: hidden;"/>
                {{t "CBoard" key='optikey'}}
              </a>
            </td>
            <td>{{t "native .obf/.obz import and export" key='obf_import_export'}}</td>
            <td>{{t "CBoard is an open source web-based communication system" key='cboard_explainer'}}</td>
            <td>{{t "December 2018" key='dec_2018'}}</td>
          </tr>
          <tr>
            <td>
              <a href="https://github.com/OptiKey/OptiKey/wiki" target="_blank">
                <img src="/optikey.png" style="width: 40px;"/>
                {{t "OptiKey" key='optikey'}}
              </a>
            </td>
            <td>{{t "native .obf import" key='obf_import'}}</td>
            <td>{{t "OptiKey is an open source eyegaze-based communication system for Windows." key='optikey_explainer'}}</td>
            <td>{{t "June 2018" key='jun_2018'}}</td>
          </tr>
          <tr>
            <td>
              <a href="https://grid.asterics.eu/#main" target="_blank">
                <img src="/asterics-grid-icon.png" style="display: inline-block; width: 40px;"/>
                {{t "AsTeRICS Grid" key='asterics_grid'}}
              </a>
            </td>
            <td>{{t "native .obf/.obz import" key='obf_import'}}</td>
            <td>{{t "AsTeRICS Grid is an open source, web-based AAC app funded by the city of Vienna" key='asterics_explainer'}}</td>
            <td>{{t "May 2020" key='may_2020'}}</td>
          </tr>
          <tr>
            <td>
              <a href="https://acecentre.github.io/pasco/" target="_blank">
                <img src="/pasco.jpg" style="display: inline-block; width: 40px;"/>
                {{t "Pasco" key='pasco'}}
              </a>
            </td>
            <td>{{t "native .obf/.obz import and export" key='obf_import_export'}}</td>
            <td>{{t "Pasco is an open source communication aid focused on those with auditory and physical impairments. It is supported by the Ace Center and supports multiple languages." key='pasco_explainer'}}</td>
            <td>{{t "May 2020" key='may_2020'}}</td>
          </tr>
          <tr>
            <td>
              <a href="http://www.theopenvoicefactory.org/" target="_blank">
              <img src="Key-logo-600x200.png" style="display: inline-block; width: 40px; visibility: hidden;"/>
              {{t "The Open Voice Factory" key='open_voice_factory'}}
              </a>
            </td>
            <td>{{t "native .obf/.obz import and export" key='obf_import_export'}}</td>
            <td>{{t "The Open Voice Factory is a free, open source tool for creating and using communication board sets." key='ovf_notes'}}</td>
            <td>{{t "February 2019" key='feb_2019'}}</td>
          </tr>
          
          <tr>
            <td>
              <a href="https://twitter.com/comkateaac" target="_blank">
                <img src="https://pbs.twimg.com/profile_images/593136101969264641/CnniJ4F__400x400.png" style="width: 40px;"/>
                {{t "CommuniKate" key='communikate'}}
              </a>
            </td>
            <td>{{t "supported file format" key='file_format'}}</td>
            <td>{{t "CommuniKate offers their open-licensed communication boards in the Open Board Format so they can be imported into multiple systems." key='ckate_notes'}}</td>
            <td>{{t "September 2017" key='sep_2017'}}</td>
          </tr>
          <tr>
            <td>
              <a href="http://www.avazapp.com/" target="_blank">
                <img src="http://i.imgur.com/mGolO3a.png" style="width: 40px;"/>
                {{t "Avaz" key='avaz'}}
              </a>
            </td>
            <td>{{t "support in development" key='in_development'}}</td>
            <td>{{t "Avaz has offered support and feedback on the Open Board Format. They have plans to implement .obf/.obz files for both importing and exporting of content." key='avaz_notes'}}</td>
            <td>{{t "July 2015" key='jul_2015'}}</td>
          </tr>
          
          <tr>
            <td>
              <a href="http://www.picto4.me/" target="_blank">
                <img src="http://i.imgur.com/tlAvntZ.png" style="width: 40px;"/>
                {{t "Picto4Me" key='picto4me'}}
              </a>
            </td>
            <td>{{t "one-way conversion from .zip to .obf/.obz" key='one_way_zip_to_obf_obz'}}</td>
            <td>{{t "Picto4Me has advocated for the Open Board Format and provided resources to help create a conversion tool from their file exports to .obf/.obz files." key='picto4me_notes'}}</td>
            <td>{{t "January 2015" key='jan_2015'}}</td>
          </tr>
        </tbody>
      </table>
      <p>
        {{t "If your vendor isn't listed, please contact them and encourage them to adopt open standards like the Open Board Format to better support their users. If you're a vendor and want to get involved, <a href='https://www.twitter.com/CoughDropAAC'>just let us know!</a>" key='partners_2'}}
      </p>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="share">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{t "Spread the Word About the Open Board Format" key='spread_the_word_about_obf'}}</h2>
      <p>
        {{t "Having a standardized board format benefits everyone, since it makes it easier to share and reuse communication boards and board sets across devices and even applications. So why hasn't it happened yet? Partly because not enough people have raised a stink about the option not being there! AAC providers aren't inherently motivated to support non-proprietary file formats (especially for export), they're content to let people stay locked into their ecosystem, so let's give them all a friendly shove in the right direction!" key='share_instructions_1'}}
      </p>
      <p>
        {{t "If you use an AAC device or app, or work with someone who does, you should reach out to them and ask about their plans to support the open board format. The more people that ask, the more likely they'll be to add support!" key='share_instructions_2'}}
      </p>
      
      <div style="margin-bottom: 25px;">
        <iframe src="/twitter_timeline.html" frameborder="0" style="width: 100%; height: 630px;">
        </iframe>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="analyze">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{t "Vocabulary Analysis" key='vocab_analysis'}}</h2>
      <p>
        {{t "This vocabulary analysis will be available for up to a week after being uploaded. Vocabulary analysis allows you to review basic data on the configuration of a vocabulary set. You can compare it to one of the pre-processed vocabulary sets to get an idea of what words or phrases may benefit from being adjusted." key='vocab_explainer'}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{t "Choose a comparison vocabulary" key='choose_comp'}}
      <select id='comp' class='form-control' style='display: inline; width: 200px;'>
        <option value="none">[ Choose a Vocabulary ]</option>
        <option value="l84f">LAMP Words For Life 84</option>
        <option value="qc24">Quick Core 24</option>
        <option value="qc60">Quick Core 60</option>
        <option value="qc112">Quick Core 112</option>
        <option value="sfy">Speak For Yourself</option>
        <option value="wp108">WordPower 108</option>
        <option value="wp80">WordPower 80</option>
      </select>
      <button class="btn btn-primary" {{action "analyze"}}>{{t "Run Analysis" key='run_analysis'}}</button>
    </div>
  </div>
  {{#if results}}
    <div class="row" id='results'>
      <div class='col-sm-12'>
        <h2>{{t "Analysis Results" key='analysis_results'}}</h2>
        {{#if results.loading}}
          <p>{{t "Loading Analysis..." key='loading_analysis'}}</p>
        {{else}}
          {{#if results.error}}
            <p>{{t "Error Loading Analysis" key='error_loading_analysis'}}</p>
          {{else}}
            <h3>{{t "Total Boards:" key='total_boards'}} {{results.total_boards}}</h3>
            <h3>{{t "Total Buttons:" key='total_buttons'}} {{results.total_buttons}}</h3>
            <h3>{{t "Available Words/Phrases" key='all_buttons'}}</h3>
            {{#each level in levels}}
              <h4>Buttons Accessible in {{level.level}} Hit{{#if level.plural}}s{{/if}} ({{level.buttons.length}})</h4>
              <div style='max-height: 90px; overflow: auto;'>
                <p>
                  {{#each button in level.buttons}}
                    {{button.label}}&nbsp;&nbsp;
                  {{/each}}
                </p>
              </div>
            {{/each}}
            <h3>{{t "Words Missing in Comparison Vocabulary" key='words_missing_compared_to_comp'}} ({{results.missing_words.length}})</h3>
            <div style='max-height: 90px; overflow: auto;'>
              <p>
                {{#each button in results.missing_words}}
                  {{button}}&nbsp;&nbsp;
                {{/each}}
              </p>
            </div>
            <h3>{{t "Extra Words not in Comparison Vocabulary" key='words_extra_compared_to_comp'}} ({{results.extra_words.length}})</h3>
            <div style='max-height: 90px; overflow: auto;'>
              <p>
                {{#each button in results.extra_words}}
                  {{button}}&nbsp;&nbsp;
                {{/each}}
              </p>
            </div>
            <h3>{{t "Words Shared with Comparison Vocabulary" key='words_shared_to_comp'}} ({{results.overlapping_words.length}})</h3>
            <div style='max-height: 90px; overflow: auto;'>
              <p>
                {{#each button in results.overlapping_words}}
                  {{button}}&nbsp;&nbsp;
                {{/each}}
              </p>
            </div>
            {{#each missing in missing}}
              {{#if missing.list.length}}
                <h3>{{t "Words Missing Compared to" key='words_missing_compared_to'}} {{missing.name}} ({{missing.list.length}})</h3>
                <div style='max-height: 90px; overflow: auto;'>
                  <p>
                    {{#each button in missing.list}}
                      {{button}}&nbsp;&nbsp;
                    {{/each}}
                  </p>
                </div>
              {{/if}}
            {{/each}}
            <h3>{{t "All Words/Phrases Sorted by Ease of Access" key='buttons_sorted'}}</h3>
            <div style='max-height: 315px; overflow: auto;'>
            <table class='table table-striped table-hover'>
              <thead>
                <tr>
                  <th style='width: 25%;'>{{t "Word/Phrase" key='word_phrase'}}</th>
                  <th style='width: 5%;'>{{t "Level" key='level'}}</th>
                  <th>{{t "Effort Score" key='effort_score'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each button in results.buttons}}
                  <tr>
                    <td>{{button.label}}</td>
                    <td>{{button.level}}</td>
                    <td>{{button.effort}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            </div>

            <h3>{{t "Words to Consider Making Easier to Access" key='high_effort_words'}} ({{results.high_effort_words.length}})</h3>
            <div style='max-height: 90px; overflow: auto;'>
              <p>
                {{#each button in results.high_effort_words}}
                  {{button}}&nbsp;&nbsp;
                {{/each}}
              </p>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/if}}
  <div class="row" style='margin-top: 50px;'>
    <div class="col-sm-12">
      <p>
        {{t "Note: the analyzer is available programmatically via the" key='aac_metrics_gem_pretext'}}
        <a href="https://www.github.com/open-aac/aac-metrics">{{t "aac-metrics ruby gem library" key='aac_metrics_gem'}}</a>.
      </p>
    </div>
  </div>

</script>


<script type="text/x-handlebars" data-template-name="tools">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{t "File Format Tools" key='file_format_tools'}}</h2>
      <p>
        {{t "We'd be remiss if we didn't provide some utilities to make life easier for those trying to implement .obf and .obz support." key='tools_intro'}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>{{t "File Validator" key='format_validator'}}</h3>
      <p>{{t "This tool will parse .obf and .obz files and generate a report with any known problems found by the validator. NOTE: this is a work in progress, so there are definitely missing checks, but it's still a good sanity check." key='validator_explanation'}}</p>
    </div>
    <div class="col-sm-3">
      <h3>{{t "Preview Generator" key='preview_generator'}}</h3>
      <p>{{t "This tool will take an .obf or .obz files and generate a pdf preview of the board(s) contained in the file." key='previewer_explanation'}}</p>
    </div>
    <div class="col-sm-3">
      <h3>{{t "File Converter" key='external_converter'}}</h3>
      <p>{{t "This tool will take files from known formats and convert them to valid .obf and .obz files." key='converter_explanation'}}</p>
      <p>
        {{t "The list of known file types will hopefully grow over time, but" key='supported_file_types'}}
        {{#link-to 'partners'}}{{t "you can see the current list here." key='partners_list'}}{{/link-to}}
      </p>
    </div>
    <div class="col-sm-3">
      <h3>{{t "Vocabulary Analysis" key='vocab_analysis'}}</h3>
      <p>{{t "You can compare your board set to popular vocabulary sets to learn more about the content and how it can be improved upon." key='vocab_analysis_explanation'}}</p>
    </div>
  </div>
  <div class="row" style="margin-top: 15x; margin-bottom: 25px;">
    <div class="col-sm-3" style="text-align: center;">
      <div style="margin-bottom: 10px;">
        {{input type="file" value=validate_file id="validate_file"}}
      </div>
      <button class="btn btn-primary btn-lg" {{action "validate_file"}} {{bind-attr disabled=bad_validate_file}} style="width: 100%;">Validate File</button>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      <div style="margin-bottom: 10px;">
        {{input type="file" value=preview_file id="preview_file"}}
      </div>
      <button class="btn btn-primary btn-lg" {{action "preview_file"}} {{bind-attr disabled=bad_preview_file}} style="width: 100%;">Generate Preview</button>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      <div style="margin-bottom: 10px;">
        {{input type="file" value=convert_file id="convert_file"}}
      </div>
      <button class="btn btn-primary btn-lg" {{action "convert_file"}} {{bind-attr disabled=bad_convert_file}} style="width: 100%;">Convert File</button>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      <div style="margin-bottom: 10px;">
        {{input type="file" value=analyze_file id="analyze_file"}}
      </div>
      <button class="btn btn-primary btn-lg" {{action "analyze_file"}} {{bind-attr disabled=bad_analyze_file}} style="width: 100%;">Analyze Vocabulary</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        {{t "Note: the validator, converter, and pdf generator are all available programmatically via the" key='obf_gem_pretext'}}
        <a href="https://www.github.com/CoughDrop/obf">{{t "obf ruby gem library" key='obf_gem'}}</a>.
      </p>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
    </div>
  </div>

</script>

<script type="text/x-handlebars" data-template-name="examples">
  <h2>{{t "Free, Open-Licensed Communication Boards" key='free_open_licensed_communication_boards'}}</h2>
  <a href="#developer_examples" style='display: block; margin: -10px 0 10px;'>{{t "see testing and development example boards" key='developer_boards'}}</a>
  <p>{{t "Some content developers have chosen to release their communication board sets with an open license, which means you can import them into any communication system that supports obf. Thank you to our contributors!" key='thanks_open_board_contributors'}}
  <div class="row">
    {{#each board in boards}}
      <div class='col-sm-4'>
        <div class='board_preview'>
          <strong>{{board.name}}</strong>
          <em>
            {{#if board.license_url}}
              <a href={{bind-attr href=board.license_url}}>{{board.license}}</a>
            {{else}}
              {{board.license}}
            {{/if}}
            {{t "by" key='by'}}
            {{#if board.author_url}}
              <a href={{bind-attr href=board.author_url}}>{{board.author}}</a>
            {{else}}
              {{board.author}}
            {{/if}}
          </em>
          <a {{bind-attr href=board.preview_url}}><img {{bind-attr src=board.image_url}}/></a>
          <div style='text-align: center;'>
            <a {{bind-attr href=board.url}}>{{t "download (" key='download_paren'}}{{board.size}}{{t " Mb)" key='paren_megabytes'}}</a> | 
            {{#if board.pdf_url}}
              <a {{bind-attr href=board.pdf_url}}>{{t "pdf" key='pdf'}}<a/> | 
            {{/if}}
            <a {{bind-attr href=board.preview_url}}>{{t "demo" key='demo'}}<a/>
          </div>
          {{board.description}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a name="developer_examples"></a>
      <h2>{{t "Example .obf and .obz Files" key='example_files'}}</h2>
      <p>
        {{t "Here are some example .obf and .obz files that you can download and inspect. They will also be useful for testing since they cover all the current attributes in the specification. The previews are all generated using the Preview Generator tool available on this site, and will look like paper-based communication boards or board sets." key='examples_intro'}}
      </p>
      <h3>{{t ".obf Examples" key='obf_examples'}}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 200px;">{{t "Filename" key='filename'}}</th>
            <th style="width: 200px;">{{t "Preview" key='preview'}}</th>
            <th>{{t "Notes" key='notes'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/simple.obf">simple.obf</a><div class="text-muted">1kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/simple.obf.pdf">simple.obf.pdf</a><div class="text-muted">4kb</div></td>
            <td>
              {{t "This is a very basic .obf file, it contains no images or sounds, and assumes default styling." key='simple_obf_notes'}}
            </td>
          </tr>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/inline_images.obf">inline_images.obf</a><div class="text-muted">78kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/inline_images.obf.pdf">inline_images.obf.pdf</a><div class="text-muted">72kb</div></td>
            <td>
              {{t "This is an .obf file with images included as data attributes within the file. It also includes some simple styling." key='inline_images_obf_notes'}}
            </td>
          </tr>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/url_images.obf">url_images.obf</a><div class="text-muted">1kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/url_images.obf.pdf">url_images.obf.pdf</a><div class="text-muted">72kb</div></td>
            <td>
              {{t "This is an .obf file with images referenced by external URL. It also includes some simple styling." key='url_images_obf_notes'}}
            </td>
          </tr>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/images_and_sounds.obf">images_and_sounds.obf</a><div class="text-muted">73kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/images_and_sounds.obf.pdf">images_and_sounds.obf.pdf</a><div class="text-muted">72kb</div></td>
            <td>
              {{t "This is an .obf file with images and sounds included both as data attributes within the file, and as external URLs. It also includes some simple styling." key='images_and_sounds_obf_notes'}}
            </td>
          </tr>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/lots_of_stuff.obf">lots_of_stuff.obf</a><div class="text-muted">75kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/lots_of_stuff.obf.pdf">lots_of_stuff.obf.pdf</a><div class="text-muted">73kb</div></td>
            <td>
              {{t "This is an .obf file that covers all documented components of the spec (images, sounds, alpha colors, proprietary symbols, custom vocalizations, spelling and actions, licensing, ext_ attributes, etc.)." key='lots_of_stuff_obf_notes'}}
            </td>
          </tr>
        </tbody>
      </table>
      <h3>{{t ".obz Examples" key='obz_examples'}}</h3>
      <p>{{t "newbie-tip: If you're having trouble getting started with .obz files, remember you can just rename them to .zip files and manually extract the contents!" key='obz_hint'}}
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 200px;">{{t "Filename" key='filename'}}</th>
            <th style="width: 200px;">{{t "Preview" key='preview'}}</th>
            <th>{{t "Notes" key='notes'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/simple.obz">simple.obz</a><div class="text-muted">1kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/simple.obz.pdf">simple.obz.pdf</a><div class="text-muted">4kb</div></td>
            <td>
              {{t "This is a very basic .obz file, it contains only one board, no images or sounds, and assumes default styling." key='simple_obz_notes'}}
            </td>
          </tr>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/links.obz">links.obz</a><div class="text-muted">2kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/links.obz.pdf">links.obz.pdf</a><div class="text-muted">12kb</div></td>
            <td>
              {{t "This is an .obz file with multiple boards that reference one another via linked buttons." key='links_obz_notes'}}
            </td>
          </tr>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/inline_images.obz">inline_images.obz</a><div class="text-muted">10kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/inline_images.obz.pdf">inline_images.obz.pdf</a><div class="text-muted">20kb</div></td>
            <td>
              {{t "This is an .obz file with images included in the nested .obf files as data attributes." key='inline_images_obz_notes'}}
            </td>
          </tr>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/path_images.obz">path_images.obz</a><div class="text-muted">59kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/path_images.obz.pdf">path_images.obz.pdf</a><div class="text-muted">76kb</div></td>
            <td>
              {{t "This is an .obz file with images included in the zip package as separate files." key='path_images_obz_notes'}}
            </td>
          </tr>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/images_and_sounds.obz">images_and_sounds.obz</a><div class="text-muted">69kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/images_and_sounds.obz.pdf">images_and_sounds.obz.pdf</a><div class="text-muted">76kb</div></td>
            <td>
              {{t "This is an .obz file with images and sounds included both as data attributes within .obf files and also included in the zip package as separate files." key='images_and_sounds_obz_notes'}}
            </td>
          </tr>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/lots_of_stuff.obz">lots_of_stuff.obz</a><div class="text-muted">73kb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/lots_of_stuff.obz.pdf">lots_of_stuff.obz.pdf</a><div class="text-muted">71kb</div></td>
            <td>
              {{t "This is an .obz file that covers all documented components of the spec (images, sounds, links, alpha colors, proprietary symbols, custom vocalizations, spelling and actions, licensing, ext_ attributes, etc.)." key='lots_of_stuff_obz_notes'}}
            </td>
          </tr>
        </tbody>
      </table>
      <h3>{{t "Real-world Examples" key='real_world_examples'}}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 200px;">{{t "Filename" key='filename'}}</th>
            <th style="width: 200px;">{{t "Preview" key='preview'}}</th>
            <th>{{t "Notes" key='notes'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://openboards.s3.amazonaws.com/examples/communikate-20.obz">communikate-20.obz</a><div class="text-muted">13Mb</div></td>
            <td><a href="https://openboards.s3.amazonaws.com/examples/communikate-20.obz.pdf">communikate-20.obz.pdf</a><div class="text-muted">57Mb</div></td>
            <td>
              {{t "CommuniKate is an open-licensed (<a href='http://creativecommons.org/licenses/by-nc-sa/3.0/'>CC By-NC-SA</a>) board set created by Kate McCallum. It is a very rich set with almost 1200 words in a 5x4 grid layout. You can <a href='https://www.mycoughdrop.com/kate-mccallum/communikate-top-page?embed=1'>see this board set in action here</a>." key='communikate-20_notes'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="components/modal-dialog">
  <div class="modal fade in" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content" style="overflow: auto;">
        {{yield}}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</script>

<script type="text/x-handlebars" data-template-name="loading-status">
  {{#modal-dialog action="close"}}
    <div class="modal-header">
      <button type="button" class="close" {{action close}}>&times;</button>
      <h3>
        {{header}}
      </h3>
    </div>
    <div class="modal-body">
      {{#if error}}
        <div class="status">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          {{t "Error: " key='error'}} {{ error }}
        </div>
      {{else}}
        {{#if download_url}}
          <div class="status">
            <a {{bind-attr href=download_url}} target="_blank">
              <span class="glyphicon glyphicon-cloud-download"></span>
              {{t "Done! You can download the result here." key='done_and_download'}}
            </a>
          </div>
        {{else}}
          {{#if validation_results}}
            <div style="margin-bottom: 10px;">
              {{#if validation_results.valid}}
                <h3 class="text-success">{{t "Valid!" key='valid'}}</h3>
                {{t "No Errors" key='errors'}}, 
              {{else}}
                <h3 class="text-danger">{{t "Invalid :-(" key='invalid'}}</h3>
                <span class="text-danger">{{count validation_results.errors key='errors' plural='Errors' singular='Error'}},</span>
              {{/if}}
              <span class="text-warning">{{count validation_results.warnings key='warnings' plural='Warnings' singular='Warning'}}</span>
              <br/>
              {{validation_results.filename}} ({{size validation_results.filesize}})
            </div>
            <table class="table table-striped table-hover" id="validation_results">
              <thead>
                <tr>
                  <th>{{t "Check" key='check'}}</th>
                  <th>{{t "Status" key='status'}}</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td colspan="2">
                      <h4 {{bind-attr class="general_results_valid:text-success:text-danger"}}>
                        <span {{bind-attr class=":glyphicon general_results_valid:glyphicon-ok:glyphicon-remove"}}></span> 
                        General results
                        <a href="#" {{action 'toggle'}} style="padding-left: 15px; font-size: 12px;">
                          {{#if validation_results.toggled}}
                            expand
                          {{else}}
                            collapse
                          {{/if}}
                        </a>
                      </td>
                    </h4>
                  </tr>
                  {{#unless validation_results.toggled}}
                    {{#each result in validation_results.results}}
                      {{partial "validation-result"}}
                    {{/each}}
                  {{/unless}}
                {{#each sub_result in validation_results.sub_results}}
                  <tr>
                    <td colspan="2">
                      <h4 {{bind-attr class="sub_result.valid:text-success:text-danger"}}>
                        <span {{bind-attr class=":glyphicon sub_result.valid:glyphicon-ok:glyphicon-remove"}}></span> 
                        {{sub_result.filename}} ({{size sub_result.filesize}})
                        <a href="#" {{action 'toggle' sub_result}} style="padding-left: 15px; font-size: 12px;">
                          {{#if sub_result.toggled}}
                            expand
                          {{else}}
                            collapse
                          {{/if}}
                        </a>
                      </h4>
                    </td>
                  </tr>
                  {{#unless sub_result.toggled}}
                    {{#each result in sub_result.results}}
                      {{partial "validation-result"}}
                    {{/each}}
                  {{/unless}}
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <div class="status">
              <span class="spinner"><span class="glyphicon glyphicon-refresh"></span></span>
              {{loader}}
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  {{/modal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="_validation-result">
  <tr>
    <td class="type"><p>{{result.description}}</p></td>
    <td class="details">
      {{#if result.valid}}
        <p class="text-success">valid</p>
      {{else}}
        <p class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> {{t "Error:" key='error'}} {{result.error}}</p>
      {{/if}}
      {{#if result.warnings}}
        {{#each warning in result.warnings}}
          <p class="text-warning">
            <span class="glyphicon glyphicon-chevron-right"></span>
            {{t "Warning:" key='warning'}} {{warning}}
          </p>
        {{/each}}
      {{/if}}
    </td>
  </tr>
</script>

<%= javascript_include_tag "application", :defer => true %>
<script>
  var AUTH_TOKEN = "<%= form_authenticity_token %>";
</script>